<!--تواصل معنا -->
<footer class="bg">
  <div class="container">
    <div class="row">
      <ul class="social-menu text-right ">
        <li>
          <a href="http://www.facebook.com/alaa.jeblawi" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>

        <li>
          <a href="www.github.com" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
      <div class=" text-center">
        <p>&copy;Copyright 2018 All right resurved. This website is made with
          <i class="fa fa-heart"></i> by
          <strong> Alaa Jeblawi .</strong>
        </p>
      </div>
    </div>
  </div>

</footer>