 .bg {
     background: linear-gradient(to bottom, #3b97b6 0%, #8dacb8 100%);
     color: #ffffff;
   
}


.social-menu {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.social-menu li {
    display: inline-block;
    margin: 0 3px;
}

.social-menu li a {
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 2.5em;
    background-color: #ffffff;
    color: #138fc2;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.social-menu li a:hover {
    background-color: #138fc2;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}
