<app-nav></app-nav>
<div class=" bg">
    <div class="container ">
        <div class="row">
            <div class="col-4">
                <div class="text-center">
                    <p>Welcome in Alaa Store For Hp Laptops Please Click on get started to show available models</p>
                    <a [routerLink]="['/models']" href="" class="button">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>